{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {}
    },
    "import/external-module-folders": ["node_modules", "node_modules/@types"],
    "import/internal-regex": "^@src/"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "import/named": "error" // eslint-plugin-import 2.20.3 나오면 지우기
      }
    }
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:compat/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": ["@typescript-eslint", "prettier", "react", "react-hooks"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    // prettier
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": false,
        "jsxBracketSameLine": true
      }
    ],
    // Diable config to avoid conflict with prettier config
    "max-len": "off",
    "semi": "off",
    "quotes": "off",
    "comma-dangle": "off",
    "object-curly-spacing": "off",
    "array-bracket-spacing": "off",
    // import
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          "internal",
          ["parent", "sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ],
    "import/default": "off",
    "import/no-unresolved": "error",
    "import/named": "off", // eslint-plugin-import 2.20.3 나오면 지우기
    "import/no-named-as-default-member": "off",
    // react-hooks
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    // react
    "react/display-name": "off",
    "react/prop-types": "off",
    // rules
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["../*"]
      }
    ],
    "no-undef": "error",
    "no-unused-vars": "error",
    "no-warning-comments": [
      "warn",
      {
        "terms": ["todo", "fixme"],
        "location": "anywhere"
      }
    ],
    // Tslint
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  }
}
